@model notomyk.Models.BlackList

@Html.Partial("~/Views/Admin/Index.cshtml")

<div class="col-xs-12 defaultContainer">
    <div class="col-xs-12 removePadding adminContainer">

        
        @using (Html.BeginForm("SaveAdd", "AdminBlackList", FormMethod.Post))
        {
            <div class="form-group">
                <label>Dodaj do BlackListy</label>
                <div>
                    @Html.TextBoxFor(a => a.url, new { @class = "form-control displayInline" })
                    <button type="submit" class="btn btn-warning">Dodaj</button>
                    @Html.ValidationMessageFor(a => a.url)
                </div>
            </div>
        }

        @using (Html.BeginForm("SaveRemove", "AdminBlackList", FormMethod.Post))
        {
            <div class="form-group">
                <label>Usun z BlackListy</label>
                <div>
                    @Html.TextBoxFor(a => a.url, new { @class = "form-control displayInline" })
                    <button type="submit" class="btn btn-success">Usun</button>
                    @Html.ValidationMessageFor(a => a.url)
                </div>
            </div>
        }

        <div>
            @ViewBag.Result
        </div>
    </div>
</div>


