@using notomyk.Models;

<div class="forum">
    @foreach (var category in Model.Categories)
    {
        <div>
            <div class="ui middle aligned divided list">
                <div class="item">

                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <div class="right floated content">
                            <a href="@Url.Action("Add", "Forum", new { category = @category.ID})">
                                <div class="ui button">Dodaj</div>
                            </a>
                        </div>
                    }

                    <i class="big @category.IconClass icon"></i>
                    <div class="header content">
                        @category.CategoryName.
                    </div>
                </div>
            </div>
            <div class="tab-pane">
                <div class="rightList">
                    @foreach (var topic in (IEnumerable<ForumTopic>)Model.Topics)
                    {


                        if (@topic.ForumCategory.ID == category.ID)
                        {
                            var imgUrl = @Url.FOFiconLight();
                            //temporarly not used. FOF as default avatar
                            //var imgUrl = Url.Content(AppConfig.UserLogoLink(Model.ApplicationUser.Id));

                            var commentsNmber = topic.Posts.Where(t => t.IsActive == true).Count();

                            <div class="post">
                                <a href="@Url.Action("Topic", "Forum", new { ID = topic.ID })">
                                    <div class="post-heading">
                                        <div class="pull-left">
                                            <img src="@imgUrl" class="avatar NTMavatar img-circle" alt="user profile image">
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                <div style="height:17px">
                                                    <small class="postTitle"><strong>@topic.Subject</strong></small>
                                                    @{
                                                        if (@topic.OnMainPage != null)
                                                        {
                                                            <i class="empty star yellow icon"></i>
                                                        }
                                                    }
                                                </div>
                                                <div style="height:17px">
                                                    <small class="text-muted">Dodano: @GetTimeAgo.CalculateDateDiff(topic.DateAdd)</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="pull-right meta">
                                            <div>
                                                <span class="fText hidden-xs">wizyt: </span><span class="ui grey basic label">@topic.Visitors</span>
                                            </div>
                                        </div>
                                        <div class="pull-right meta">
                                            <div>
                                                <span class="fText hidden-xs">komentarzy: </span><span class="ui blue basic label">@commentsNmber</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }


  
</div>
