<div class="forum">
    <div class="informacje">
        <div class="ui middle aligned divided list">
            <div class="item">
                <div class="right floated content">
                    <a href="@Url.Action("Add", "Forum", new { category = 1})">
                        <div class="ui button">Dodaj</div>
                    </a>                    
                </div>
                <i class="big info icon"></i>
                <div class="header content">
                    Informacje ogólne.
                </div>
            </div>
        </div>
        <div class="tab-pane">
            <div class="rightList">
                <div class="post">
                    <a href="@Url.Action("Topic", "Forum", new { ID = 10 })">
                        <div class="post-heading">
                            <div class="pull-left">
                                <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <div style="height:17px">
                                        <small class="postTitle"><strong>FaktOrFake - przeczytaj</strong></small>
                                    </div>
                                    <div style="height:17px">
                                        <small class="text-muted">Dodano: 20 minut temu</small>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right meta">
                                <div>
                                    <span class="ui blue basic label">1520</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="post">
                    <a href="@Url.Action("Topic", "Forum", new { ID = 10 })">
                        <div class="post-heading">
                            <div class="pull-left">
                                <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <div style="height:17px">
                                        <small class="postTitle"><strong>Jak dodać newsa</strong></small>
                                    </div>
                                    <div style="height:17px">
                                        <small class="text-muted">Dodano: 1 godzine temu</small>
                                    </div>
                                </div>

                            </div>
                            <div class="pull-right meta">
                                <div>
                                    <span class="ui blue basic label">220</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="post">
                    <a href="@Url.Action("Topic", "Forum", new { ID = 10 })">
                        <div class="post-heading">
                            <div class="pull-left">
                                <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <div style="height:17px">
                                        <small class="postTitle"><strong>Pomysły</strong></small>
                                    </div>
                                    <div style="height:17px">
                                        <small class="text-muted">Dodano: 4 dni temu</small>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right meta">
                                <div>
                                    <span class="ui blue basic label">20</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <div>
        <div class="ui middle aligned divided list">
            <div class="item">
                <div class="right floated content">
                    <div class="ui button">Dodaj</div>
                </div>
                <i class="big idea icon"></i>
                <div class="header content">
                    Pomysły.
                </div>
            </div>
        </div>
        <div class="tab-pane">
            <div class="rightList">
                <div class="post">
                    <a href="@Url.Action("Post", "Forum", new {id = 1})">
                        <div class="post-heading">
                            <div class="pull-left">
                                <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <div style="height:17px">
                                        <small class="postTitle"><strong>FaktOrFake - przeczytaj</strong></small>
                                    </div>
                                    <div style="height:17px">
                                        <small class="text-muted">Dodano: 20 minut temu</small>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right meta">
                                <div>
                                    <span class="ui blue basic label">1520</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="post">
                    <a href="@Url.Action("Post", "Forum", new {id = 1})">
                        <div class="post-heading">
                            <div class="pull-left">
                                <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <div style="height:17px">
                                        <small class="postTitle"><strong>Jak dodać newsa</strong></small>
                                    </div>
                                    <div style="height:17px">
                                        <small class="text-muted">Dodano: 1 godzine temu</small>
                                    </div>
                                </div>

                            </div>
                            <div class="pull-right meta">
                                <div>
                                    <span class="ui blue basic label">220</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="post">
                    <a href="@Url.Action("Post", "Forum", new {id = 1})">
                        <div class="post-heading">
                            <div class="pull-left">
                                <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <div style="height:17px">
                                        <small class="postTitle"><strong>Pomysły</strong></small>
                                    </div>
                                    <div style="height:17px">
                                        <small class="text-muted">Dodano: 4 dni temu</small>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right meta">
                                <div>
                                    <span class="ui blue basic label">20</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="bugs">
        <div class="ui middle aligned divided list">
            <div class="item">
                <div class="right floated content">
                    <div class="ui button">Dodaj</div>
                </div>
                <i class="big bug icon"></i>
                <div class="header content">
                    Błędy.
                </div>
            </div>
        </div>
        <div class="tab-pane">
            <div class="rightList">
                <div class="post">
                    <a href="@Url.Action("Post", "Forum", new {id = 1})">
                        <div class="post-heading">
                            <div class="pull-left">
                                <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <div style="height:17px">
                                        <small class="postTitle"><strong>FaktOrFake - przeczytaj</strong></small>
                                    </div>
                                    <div style="height:17px">
                                        <small class="text-muted">Dodano: 20 minut temu</small>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right meta">
                                <div>
                                    <span class="ui blue basic label">1520</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="post">
                    <a href="@Url.Action("Post", "Forum", new {id = 1})">
                        <div class="post-heading">
                            <div class="pull-left">
                                <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <div style="height:17px">
                                        <small class="postTitle"><strong>Jak dodać newsa</strong></small>
                                    </div>
                                    <div style="height:17px">
                                        <small class="text-muted">Dodano: 1 godzine temu</small>
                                    </div>
                                </div>

                            </div>
                            <div class="pull-right meta">
                                <div>
                                    <span class="ui blue basic label">220</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="post">
                    <a href="@Url.Action("Post", "Forum", new {id = 1})">
                        <div class="post-heading">
                            <div class="pull-left">
                                <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                            </div>
                            <div class="pull-left meta">
                                <div class="title h5">
                                    <div style="height:17px">
                                        <small class="postTitle"><strong>Pomysły</strong></small>
                                    </div>
                                    <div style="height:17px">
                                        <small class="text-muted">Dodano: 4 dni temu</small>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right meta">
                                <div>
                                    <span class="ui blue basic label">20</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
