@using notomyk.Models;


<div class="forum">
    @foreach (var category in Model.Categories)
    {
        <div>
            <div class="ui middle aligned divided list">
                <div class="item">

                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <div class="right floated content">
                            <a href="@Url.Action("Add", "Forum", new { category = @category.ID})">
                                <div class="ui button">Dodaj</div>
                            </a>
                        </div>
                    }

                    <i class="big @category.IconClass icon"></i>
                    <div class="header content">
                        @category.CategoryName.
                    </div>
                </div>
            </div>
            <div class="tab-pane">
                <div class="rightList">
                    @foreach (var topic in Model.Topics)
                    {
                        if (@topic.ForumCategory.ID == category.ID)
                        {
                            var imgUrl = Url.Content(AppConfig.UserLogoLink(topic.ApplicationUser.Id));
                            <div class="post">
                                <a href="@Url.Action("Topic", "Forum", new { ID = topic.ID })">
                                    <div class="post-heading">
                                        <div class="pull-left">
                                            <img src="@imgUrl" class="avatar NTMavatar" alt="user profile image">
                                        </div>
                                        <div class="pull-left meta">
                                            <div class="title h5">
                                                <div style="height:17px">
                                                    <small class="postTitle"><strong>@topic.Subject</strong></small>
                                                </div>
                                                <div style="height:17px">
                                                    <small class="text-muted">Dodano: @GetTimeAgo.CalculateDateDiff(topic.DateAdd)</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pull-right meta">
                                            <div>
                                                <span class="ui blue basic label">1520</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }


    @*<div>
            <div class="ui middle aligned divided list">
                <div class="item">
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <div class="right floated content">
                            <a href="@Url.Action("Add", "Forum", new { category = 1})">
                                <div class="ui button">Dodaj</div>
                            </a>
                        </div>
                    }
                    <i class="big idea icon"></i>
                    <div class="header content">
                        Pomysły.
                    </div>
                </div>
            </div>
            <div class="tab-pane">
                <div class="rightList">
                    <div class="post">
                        <a href="@Url.Action("Post", "Forum", new {id = 1})">
                            <div class="post-heading">
                                <div class="pull-left">
                                    <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <div style="height:17px">
                                            <small class="postTitle"><strong>FaktOrFake - przeczytaj</strong></small>
                                        </div>
                                        <div style="height:17px">
                                            <small class="text-muted">Dodano: 20 minut temu</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right meta">
                                    <div>
                                        <span class="ui blue basic label">1520</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="post">
                        <a href="@Url.Action("Post", "Forum", new {id = 1})">
                            <div class="post-heading">
                                <div class="pull-left">
                                    <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <div style="height:17px">
                                            <small class="postTitle"><strong>Jak dodać newsa</strong></small>
                                        </div>
                                        <div style="height:17px">
                                            <small class="text-muted">Dodano: 1 godzine temu</small>
                                        </div>
                                    </div>

                                </div>
                                <div class="pull-right meta">
                                    <div>
                                        <span class="ui blue basic label">220</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="post">
                        <a href="@Url.Action("Post", "Forum", new {id = 1})">
                            <div class="post-heading">
                                <div class="pull-left">
                                    <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <div style="height:17px">
                                            <small class="postTitle"><strong>Pomysły</strong></small>
                                        </div>
                                        <div style="height:17px">
                                            <small class="text-muted">Dodano: 4 dni temu</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right meta">
                                    <div>
                                        <span class="ui blue basic label">20</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="bugs">
            <div class="ui middle aligned divided list">
                <div class="item">
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <div class="right floated content">
                            <a href="@Url.Action("Add", "Forum", new { category = 2})">
                                <div class="ui button">Dodaj</div>
                            </a>
                        </div>
                    }
                    <i class="big bug icon"></i>
                    <div class="header content">
                        Błędy.
                    </div>
                </div>
            </div>
            <div class="tab-pane">
                <div class="rightList">
                    <div class="post">
                        <a href="@Url.Action("Post", "Forum", new {id = 1})">
                            <div class="post-heading">
                                <div class="pull-left">
                                    <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <div style="height:17px">
                                            <small class="postTitle"><strong>FaktOrFake - przeczytaj</strong></small>
                                        </div>
                                        <div style="height:17px">
                                            <small class="text-muted">Dodano: 20 minut temu</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right meta">
                                    <div>
                                        <span class="ui blue basic label">1520</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="post">
                        <a href="@Url.Action("Post", "Forum", new {id = 1})">
                            <div class="post-heading">
                                <div class="pull-left">
                                    <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <div style="height:17px">
                                            <small class="postTitle"><strong>Jak dodać newsa</strong></small>
                                        </div>
                                        <div style="height:17px">
                                            <small class="text-muted">Dodano: 1 godzine temu</small>
                                        </div>
                                    </div>

                                </div>
                                <div class="pull-right meta">
                                    <div>
                                        <span class="ui blue basic label">220</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="post">
                        <a href="@Url.Action("Post", "Forum", new {id = 1})">
                            <div class="post-heading">
                                <div class="pull-left">
                                    <img src="~/Images/Utility/fflslogo.png" class="avatar NTMavatar" alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <div style="height:17px">
                                            <small class="postTitle"><strong>Pomysły</strong></small>
                                        </div>
                                        <div style="height:17px">
                                            <small class="text-muted">Dodano: 4 dni temu</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right meta">
                                    <div>
                                        <span class="ui blue basic label">20</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>*@
</div>
