@model notomyk.Models.ForumTopic
@using notomyk.Models

@Html.Partial("_ForumPostTemplate")

<div id="SingleTopic" class="first">
    <div class="list-group-item n1" style="padding: 10px">
        <div class="row m0">
            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {
                <div class="right floated content" style="text-align:right">
                    <a href="@Url.Action("Edit", "Forum", new { ID = @Model.ID})">
                        <div class="ui button">Edytuj</div>
                    </a>
                    <a href="@Url.Action("Remove", "Forum", new { ID = @Model.ID})">
                        <div class="ui button">Usuń</div>
                    </a>
                </div>

            }
            <div class="postDetails col-xs-12 removePadding">

                @{
                    var imgUrl = Url.Content(AppConfig.UserLogoLink(Model.ApplicationUser.Id));
                }
                <div class="ui cards">
                    <div class="card">
                        <div class="statInfo content">
                            <img class="userLogoNews left floated mini ui image" style="margin:0 10px 0 0;" src="@imgUrl">
                            <div class="header" style="margin-top:1px">
                                faktorfake
                            </div>
                            <div class="meta">
                                <i class="calendar restore icon"></i><small>Dodano: @GetTimeAgo.CalculateDateDiff(Model.DateAdd)</small>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <div class="col-xs-12" style="padding:10px 10px 10px 10px">
                <h2>
                    @Model.Subject
                </h2>
            </div>
            <br />

            <div class="col-xs-12" style="padding:0 10px 10px 10px">
                @Html.Raw(Model.Description)
            </div>
            <div id="addTopicComment" class="col-xs-12 removePadding">
                <input class="frmTopicID" type="hidden" name="NewsID" value="@Model.ID">
                @if (Request.IsAuthenticated)
                {
                    <div class="col-xs-2 col-sm-1" style="padding:14px 0 0 0">
                        <img src="@Url.Content(AppConfig.UserLogoLink(User.Identity.GetUserId()))" class="img-circle avatar imgUserLogoSmall pull-left" alt="img">
                    </div>
                    <div class="col-xs-9 col-sm-10 removePadding">
                        <span class="charCounter pull-right" style="font-size:11px"></span>
                        <textarea maxlength="3000" id="frmCommentText" rows="10" name="CommentText" class="form-control message" style="height: 34px; overflow: hidden;" placeholder="Co uważasz o tym artykule ?"></textarea>
                    </div>
                    <div class="col-xs-1" style="padding:14px 0 0 0">
                        <form class="frmAddPostComment  pull-right">
                            
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 removePadding">
                        <textarea id="frmCommentTextNoAuth" readonly rows="10" cols="500" name="CommentText" class="form-control message" style="height: 34px; overflow: hidden; resize:none" placeholder="Zaloguj się aby dodać komentarz."></textarea>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@Html.Partial("~/Views/Main/_GenericComment.cshtml")
