@using notomyk.Models
@model LoginViewModel
@{
    ViewBag.Title = "Logowanie";
}

<div class="col-xs-12 defaultContainer removePadding">
    <div class="col-xs-12">

        <div class="main-login main-center">
            <img class="profile-img hidden-xs" src="@Url.FOFiconLight()" alt="">
            @*<img class="profile-img" src="~/Images/Utility/loginLogo.png" alt="">*@

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Podaj Email" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Podaj hasło" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <label class="checkboxLabel removePadding">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    <small><span>Zapamiętaj mnie</span></small>
                </label>

                <div class="form-group" style="margin-top:10px">
                    <button type="submit" class="btn btn-block btn-social btn-reddit">
                        <span><img height=30 width=30 style="margin-bottom: 7px !important; margin-right:3px" src="@Url.FOFiconJustF()" alt=""></span> Logowanie przez e-mail
                    </button>
                </div>

            }
            <div class="ui horizontal divider">
                lub
            </div>
            @using (Html.BeginForm("ExternalLogin", "Account", new { provider = "Facebook", ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group" style="margin-top:10px">
                    <button type="submit" class="btn btn-block btn-social btn-facebook"><span class="fa fa-google"></span> Zaloguj się przez Facebooka</button>
                </div>

            }

            @using (Html.BeginForm("ExternalLogin", "Account", new { provider = "Google", ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group" style="margin-top:10px">
                    <button type="submit" class="btn btn-block btn-social btn-google"><span class="fa fa-google"></span> Zaloguj się przez Googla</button>
                </div>
            }

            <div class="ui divider"></div>
            <p class="addAccountLink">
                @Html.ActionLink("Resetowanie hasła", "ForgotPassword")
            </p>
            <p class="addAccountLink">
                @Html.ActionLink("Załóż konto", "Register")
            </p>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

