@model notomyk.Models.RegisterViewModel
@{
    ViewBag.Title = "Rejestracja.";
}

<div class="col-xs-12 defaultContainer">
    <div class="col-xs-12">
        <div class="main-login main-center">
            <img class="profile-img" src="@Url.FOFiconLight()" alt="">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger", @style = "padding : 0; margin: 0" })
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Podaj nazwę użytkownika" })
                        </div>
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Podaj swój Email" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Podaj hasło" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Powtórz hasło" })
                        </div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <a onclick="this.parentNode.submit();" class="btn btn-block btn-social btn-reddit" style="margin-top:10px">
                    <span><img height=30 width=30 style="margin-bottom: 7px !important; margin-right:3px" src="@Url.FOFiconLight()" alt=""></span> Rejestracja
                </a>
                @*<div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Rejestracja</button>
                    </div>*@
            }
            <p class="addAccountLink">
                @Html.ActionLink("Logowanie", "Login")
            </p>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
