@model notomyk.ViewModel.NewsDetail
@using notomyk.Infrastructure
@using notomyk.Models

@{
    var imgUrl = Url.Content(AppConfig.UserLogoLink(User.Identity.GetUserId()));
}

@Html.Partial("_NewsDetailTemplates")

<div id="SingleNews" class="first">
    <div class="list-group-item n1">
        <div class="row m0">
            <div class="col-xs-12 removePadding">
                <div class="col-sm-6 col-xs-12" style="padding: 0 7px 0 10px">
                    <div class="fof col-xs-12 removePadding">
                        <div class="ui labeled button fakt pull-left" tabindex="0" data-content="@ViewBag.popupMsg" data-position="top center">

                            @if (Model.SingleNews.RatingClass() == 2)
                            {
                                <div class="voteFakt ui green button">
                                    @if (@Model.WhatVote == 1)
                                    {
                                        <i class="inverted green thumbs up icon"></i><span style="color:white"> Fakt</span>
                                    }
                                    else
                                    {
                                        <i class="inverted thumbs up icon"></i><span style="color:white"> Fakt</span>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="voteFakt ui BGgreenColorLight button">
                                    @if (@Model.WhatVote == 1)
                                    {
                                        <i class="inverted green thumbs up icon"></i><span style="color:white"> Fakt</span>
                                    }
                                    else
                                    {
                                        <i class="inverted thumbs up icon"></i><span style="color:white"> Fakt</span>
                                    }
                                </div>
                            }

                            <a class="voteFakt ui basic green left pointing label">
                                @Model.SingleNews.VoteLogs.Where(x => x.Vote == true).Count()
                            </a>
                        </div>
                        <div class="ui labeled button fake pull-right " tabindex="0" data-content="@ViewBag.popupMsg" data-position="top center">
                            <a class="voteFake ui basic red right pointing label">
                                @Model.SingleNews.VoteLogs.Where(x => x.Vote == false).Count()
                            </a>

                            @if (Model.SingleNews.RatingClass() == 4)
                            {
                                <div class="voteFake ui red button">
                                    @if (@Model.WhatVote == -1)
                                    {
                                        <i class="inverted red thumbs down icon"></i><span style="color:white"> Fake</span>
                                    }
                                    else
                                    {
                                        <i class="inverted thumbs down icon"></i><span style="color:white"> Fake</span>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="voteFake ui BGredColorLight button">
                                    @if (@Model.WhatVote == -1)
                                    {
                                        <i class="inverted red thumbs down icon"></i><span style="color:white"> Fake</span>
                                    }
                                    else
                                    {
                                        <i class="inverted thumbs down icon"></i><span style="color:white"> Fake</span>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12" style="padding: 0 3px 0 0">
                        <div class="ui cards">
                            <div class="card">

                                <div class="statInfo content">
                                    <a class="visible-xs" href="@Url.Action("WhatNewspaper", "Main", new { id = myNewspaper.ReturnNewspaperName(Model.SingleNews.Newspaper.NewspaperName) })">
                                        <img class="newspaperLogo left floated ui image" src="@Url.NewspaperIconPath_250(Model.SingleNews.Newspaper.NewspaperIconLink)" height="57" style="margin-right:10px">
                                    </a>
                                    <img class="userLogoNews right floated ui image img-circle" src="@Url.Content(AppConfig.UserLogoLink(Model.SingleNews.ApplicationUser.Id))" height="45" width="45" style="margin-top:5px">
                                    <div class="header">

                                    </div>
                                    <div class="meta">
                                        <i class="newspaper restore icon"></i><small>News z: <strong><a href="http://@Model.SingleNews.Newspaper.NewspaperLink">@Model.SingleNews.Newspaper.NewspaperLink</a></strong></small>
                                    </div>
                                    <div class="meta">
                                        <i class="user restore icon"></i><small>Dodał: <strong>@Model.SingleNews.ApplicationUser.UserName</strong></small>
                                    </div>
                                    <div class="meta">
                                        <i class="calendar restore icon"></i><small>Kiedy: <strong>@GetTimeAgo.CalculateDateDiff(Model.SingleNews.DateAdd)</strong></small>
                                    </div>
                                    <div class="newsReported @ViewBag.ReportedClass">
                                        <i class="alarm outline icon red"></i> <small><strong>zgłoszony </strong></small>
                                    </div>
                                </div>

                                <div class="statButtons extra content">
                                    <div class="sharethis-inline-share-buttons"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12" style="padding:0 10px 0 10px">
                    <img class="img-responsive img-rounded" alt="" src="@Model.SingleNews.PictureLink" />
                </div>
            </div>
            <div class="col-xs-12 removePadding" style="padding: 10px;">
                <div class="col-xs-11 removePadding">
                    <a href="@Model.SingleNews.ArticleLink"><strong><span class="text" style="color: #2375B9">@Model.SingleNews.Title</span></strong></a>
                </div>
                <div class="col-xs-1 removePadding" style="text-align:right">
                    <div class="ui dropdown">
                        <i class="dropdown-togle large sidebar icon" data-toggle="dropdown"></i>
                        <div class="menu left dropDownParent" data-newsid="@Model.SingleNews.tbl_NewsID">
                            <div class="reportNews item">Zgłoś</div>

                            @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || myUser.IsNewsAuthor(Model.SingleNews.tbl_NewsID, User.Identity.GetUserId()))
                            {
                                <div class="deleteNews item">Usuń</div>
                            }

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="padding:0 10px 0 10px"><span class="text">@Model.SingleNews.Description</span></div>

            <div class="col-xs-12 removePadding" style="padding:0 10px 0 5px;">
                <div class="col-xs-11 removePadding">
                    <input id="commaDelimitedTags" type="text" value="@Model.CommaSeparatedTags" data-role="tagsinput">
                </div>

                <div class="col-xs-1" style="text-align:right; padding: 10px 0 0 0">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin") || User.IsInRole("Moderator") || myUser.IsNewsAuthor(Model.SingleNews.tbl_NewsID, User.Identity.GetUserId()))
                        {
                            <i id="editTags" class="dropdown-togle large tags icon" data-toggle="dropdown" style="cursor:pointer"></i>
                        }
                    }
                </div>
            </div>

            <div id="addComment" class="col-xs-12">
                <input class="frmNewsID" type="hidden" name="NewsID" value=@Model.SingleNews.tbl_NewsID>
                @if (Request.IsAuthenticated)
                {
                    <form class="frmAddComment">
                        <span class="charCounter pull-right" style="font-size:11px"></span>
                        <div class="ui action input col-xs-12 removePadding">

                            <img src="@imgUrl" class="img-circle avatar imgUserLogoSmall pull-left" alt="img">

                            <input id="frmCommentText" type="text" placeholder="Co uważasz o tym artykule ?"
                                   style="margin-left:5px;" maxlength="3000" cols="40" rows="10" name="CommentText">

                            <button class="ui icon blue button" type="submit">
                                <i class="large plus icon"></i>
                            </button>

                        </div>
                    </form>
                }
                else
                {
                    <div class="ui action input col-xs-12 removePadding">
                        <input readonly id="frmCommentTextNoAuth" type="text" placeholder="Zaloguj się aby dodać komentarz."
                               maxlength="3000" cols="40" rows="10" name="CommentText">
                    </div>
                    @*<div class="col-xs-12 removePadding">
                            <textarea id="frmCommentTextNoAuth" readonly rows="10" cols="500" name="CommentText" class="form-control message" style="height: 34px; overflow: hidden; resize:none" placeholder="Zaloguj się aby dodać komentarz."></textarea>
                        </div>*@
                    @*<input class="frmNewsID" type="hidden" name="NewsID" value=@Model.SingleNews.tbl_NewsID>*@
                }
            </div>
        </div>
    </div>
</div>

@Html.Partial("_GenericComment")