@model notomyk.ViewModel.NewsDetail
@using notomyk.Infrastructure
@using notomyk.Models

@{
    var imgUrl = Url.Content(AppConfig.UserLogoLink(User.Identity.GetUserId()));
}

<script id="commentPattern" type="text/template">
    <li class="singleComment">
        <div class="comment-box">
            <div class="panel panel-white post panel-shadow">
                <div class="col-xs-12 removePadding">
                    <div class="panel panel-default panel-google-plus" style="border:none;">

                        <div class="dropdown">
                            <i data-toggle="dropdown" class="dropdown-toggle chevron down icon"></i>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Zgłoś</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="DeleteComment" data-commentid="{{CommentID}}" data-newsid="{{NewsID}}">Usuń</a></li>
                            </ul>
                        </div>

                        <div class="panel-heading">
                            <img class="img-circle pull-left" src="{{LogoName}}" alt="img" />
                            <h3>
                                <span style="padding-top: 2px">{{UserName}}</span>
                                <span class="ui basic label">
                                    <span class="greenColor"><strong>{{positiveCount}}</strong></span>
                                    / <span>{{allCount}}</span>
                                </span>
                                <span class="ui basic label"><i class="fa-trophy orange icon"></i>{{reputationPoints}} %</span>
                            </h3>
                            <h5><span>Opublikowano</span> - <span>{{Date}}</span> </h5>
                        </div>
                    </div>
                </div>

                <div class="post-description col-xs-12">
                    <span class="text">{{Comment}}</span>
                </div>

                <div class="row m0 removePadding">
                    <div class="col-xs-5" style="padding:0 0 8px 10px">
                        <div class="commentFakeVote ui right labeled button " tabindex="0" title="@ViewBag.popupMsg">
                            <div class="ui button BGwhite">
                                <i class="thumbs {{class2}} down red icon"></i>
                            </div>
                            <a id="commentFakeValue" class="ui left pointing label BGredColor BGredColorLight">
                                {{CommentFakeV}}
                            </a>
                        </div>

                        <div class="commentFaktVote ui left labeled button" tabindex="0" title="@ViewBag.popupMsg">
                            <a id="commentFaktValue" class="ui right pointing label BGgreenColor BGgreenColorLight">
                                {{CommentFaktV}}
                            </a>
                            <div class="ui button BGwhite" data-content="Add users to your feed">
                                <i class="thumbs {{class1}} up green icon "></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-7 text-right removePadding">
                        <a href="#" id="commentContainerJS" class="text-muted" data-commentid="{{CommentID}}"><u>{{RepliesV}}</u></a>
                        <div id="addReplyBox" class="ui right labeled button" tabindex="0">
                            <div class="ui button">
                                <i class="large reply icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="addReply row m0">
                    <div class="col-xs-12 removePadding">
                        @if (Request.IsAuthenticated)
                        {
                            <div class="col-xs-2 col-sm-1 removePadding">
                                <img src="@imgUrl" class="img-circle avatar imgUserLogoSmall pull-left" alt="img">
                            </div>
                            <div class="col-xs-9 col-sm-10 removePadding">
                                <textarea rows="10" maxlength="3000" name="ReplyText" class="form-control message" style="height: 34px; overflow: hidden;" placeholder="Co uważasz o tym komentarzu ?"></textarea>
                            </div>

                            <div class="col-xs-1 removePadding">
                                <form class="frmAddReply pull-right">
                                    <input class="commentID" type="hidden" name="NewsID" value="{{CommentID}}">

                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-12">
                                <textarea rows="10" name="ReplyText" class="form-control message" style="height: 34px; overflow: hidden;" placeholder="Zaloguj się aby dodać odpowiedź."></textarea>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <ul class="reply-list"></ul>
    </li>
</script>

<script id="replyPattern" type="text/template">
    <li id="{{ReplyID}}" class="singleReply">
        <div class="row m0">
            <div class="col-lg-1"></div>
            <div class="col-lg-11" style="padding:0 0 0 15px">
                <div class="comment-box">
                    <div class="panel panel-white post panel-shadow">
                        <div class="post-heading">
                            <div class="col-lg-12 post-heading removePadding">
                                <div class="panel panel-default panel-google-plus" style="border:none;">
                                    <div class="dropdown">
                                        <i data-toggle="dropdown" class="dropdown-toggle chevron down icon"></i>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Zgłoś</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="DeleteReply" data-replyid="{{CommentID}}" data-newsid="{{NewsID}}" style="cursor:pointer">Usuń</a></li>
                                        </ul>
                                    </div>
                                    <div class="panel-heading">
                                        <img class="img-circle pull-left" src="{{LogoName}}" alt="x" />
                                        <h3>
                                            <span>{{UserName}}</span>
                                            <span class="ui basic label">
                                                <span class="greenColor"><strong>{{positiveCount}}</strong></span>
                                                / <span>{{allCount}}</span>
                                            </span>
                                            <span class="ui basic label"><i class="fa-trophy orange icon"></i>{{reputationPoints}} %</span>
                                        </h3>
                                        <h5><span>Opublikowano</span> - <span>{{Date}}</span> </h5>
                                    </div>
                                </div>
                            </div>

                            <div class="post-description col-xs-12">
                                <span class="text">{{Comment}}</span>
                            </div>
                            <div class="row m0" style="padding:0 0 8px 10px">
                                <div class="replyFakeVote ui right labeled button " tabindex="0">
                                    <div class="ui button BGwhite" data-content="{{popupMsg}}">
                                        <i class="thumbs {{class2}} down red icon"></i>
                                    </div>
                                    <a id="replyFakeValue" class="BGredColorLight ui basic left pointing label">
                                        {{CommentFakeV}}
                                    </a>
                                </div>

                                <div class="replyFaktVote ui left labeled button" tabindex="0">
                                    <a id="replyFaktValue" class="ui basic right pointing label BGgreenColorLight">
                                        {{CommentFaktV}}
                                    </a>
                                    <div class="ui button BGwhite" data-content="{{popupMsg}}">
                                        <i class="thumbs {{class1}} up green icon "></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</script>
@*<div id="fb-root"></div>*@

<div id="SingleNews" class="first">
    <div class="list-group-item n1">
        <div class="row m0">
            <div class="col-xs-12 removePadding">
                <div class="col-sm-6 col-xs-12" style="padding: 0 7px 0 10px">
                    <div class="fof col-xs-12 removePadding">
                        <div class="ui labeled button fakt pull-left" tabindex="0" data-content="@ViewBag.popupMsg" data-position="top center">
                            @if (@Model.WhatVote == 1)
                            {
                                <div class="voteFakt ui green BGgreenColor button">
                                    <i class="thumbs outline up icon"></i> Fakt
                                </div>
                            }
                            else
                            {
                                <div class="voteFakt ui green BGgreenColor button BGgreenColorLight">
                                    <i class="thumbs outline up icon"></i> Fakt
                                </div>
                            }

                            <a class="voteFakt ui basic green left pointing label">
                                @Model.SingleNews.VoteLogs.Where(x => x.Vote == true).Count()
                            </a>
                        </div>
                        <div class="ui labeled button fake pull-right " tabindex="0" data-content="@ViewBag.popupMsg" data-position="top center">
                            <a class="voteFake ui basic red right pointing label">
                                @Model.SingleNews.VoteLogs.Where(x => x.Vote == false).Count()
                            </a>

                            @if (@Model.WhatVote == -1)
                            {
                                <div class="voteFake ui red BGredColor button">
                                    <i class="thumbs outline down icon"></i> Fake
                                </div>
                            }
                            else
                            {
                                <div class="voteFake ui red BGredColor button BGredColorLight">
                                    <i class="thumbs outline down icon"></i> Fake
                                </div>
                            }

                        </div>
                    </div>
                    <div class="col-xs-12" style="padding: 0 3px 0 0">
                        <div class="ui cards">
                            <div class="card">

                                <div class="statInfo content">
                                    <img class="newspaperLogo left floated ui image visible-xs" src="@Url.NewspaperIconPath_250(Model.SingleNews.Newspaper.NewspaperIconLink)" height="57" style="margin-right:10px">
                                    <img class="userLogoNews right floated ui image img-circle" src="@Url.Content(AppConfig.UserLogoLink(Model.SingleNews.ApplicationUser.Id))" height="45" width="45" style="margin-top:5px">
                                    <div class="header">

                                    </div>
                                    <div class="meta">
                                        <i class="newspaper restore icon"></i><small>News z: <strong><a>@Model.SingleNews.Newspaper.NewspaperLink</a></strong></small>
                                    </div>
                                    <div class="meta">
                                        <i class="user restore icon"></i><small>Dodał: <strong>@Model.SingleNews.ApplicationUser.UserName</strong></small>
                                    </div>
                                    <div class="meta">
                                        <i class="calendar restore icon"></i><small>Kiedy: <strong>@GetTimeAgo.CalculateDateDiff(Model.SingleNews.DateAdd)</strong></small>
                                    </div>
                                </div>

                                <div class="statButtons extra content">
                                    <div class="ui three buttons">
                                        <div class="ui compact menu col-xs-4" style="padding: 0 5px 0 5px">
                                            <x class="item">
                                                <i class="icon mail"></i> Komentarzy
                                                <div class="floating ui basic blue label">@ViewBag.CommNum</div>

                                        </div>
                                        <div class="ui compact menu col-xs-4" style="padding: 0 5px 0 5px; border-left:none; border-right:none;">
                                            <x class="item">
                                                <i class="icon tv"></i> Odwiedzin
                                                <div class="floating ui basic grey label">@Model.SingleNews.Visitors</div>
                                            </x>
                                        </div>
                                        <div class="fb-share-button col-xs-4"
                                             style="background-color:#4267b2; padding-top:1px"
                                             data-href="@ViewBag.fbButtonUrl"
                                             data-layout="button_count"
                                             data-size="large"
                                             data-mobile-iframe="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6 col-xs-12" style="padding:0 10px 0 10px">
                    <img class="img-responsive img-rounded" alt="xxx" src="@Model.SingleNews.PictureLink" />
                </div>
            </div>
            <div class="col-xs-12 removePadding" style="padding: 10px;">
                <div class="col-xs-11 removePadding">
                    <a href="@Model.SingleNews.ArticleLink"><strong><span class="text" style="color: #2375B9">@Model.SingleNews.Title</span></strong></a>
                </div>
                <div class="col-xs-1 removePadding" style="text-align:right">
                    <div class="ui dropdown">
                        <i class="dropdown-togle large sidebar icon" data-toggle="dropdown"></i>
                        <div class="menu left">
                            <div class="item">Zgłoś</div>

                            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                            {
                                <div class="deleteNews item" data-newsid="@Model.SingleNews.tbl_NewsID">Usuń</div>
                            }

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="padding:0 10px 0 10px"><span class="text">@Model.SingleNews.Description</span></div>

            <div class="col-xs-12 removePadding" style="padding:0 10px 0 5px;">
                <div class="col-xs-11 removePadding">
                    <input id="commaDelimitedTags" type="text" value="@Model.CommaSeparatedTags" data-role="tagsinput">
                </div>

                <div class="col-xs-1" style="text-align:right; padding: 10px 0 0 0">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin") || User.IsInRole("Moderator") || myUser.IsNewsAuthor(Model.SingleNews.tbl_NewsID, User.Identity.GetUserId()))
                        {
                            <i id="editTags" class="dropdown-togle large tags icon" data-toggle="dropdown" style="cursor:pointer"></i>
                        }
                    }
                </div>
            </div>

            <div id="addComment" class="col-xs-12">
                @if (Request.IsAuthenticated)
                {
                    <div class="col-xs-2 col-sm-1" style="padding:14px 0 0 0">
                        <img src="@imgUrl" class="img-circle avatar imgUserLogoSmall pull-left" alt="img">
                    </div>
                    <div class="col-xs-9 col-sm-10 removePadding">
                        <span id="charCounter" class="pull-right" style="font-size:11px"></span>
                        <textarea maxlength="3000" id="frmCommentText" rows="10" name="CommentText" class="form-control message" style="height: 34px; overflow: hidden;" placeholder="Co uważasz o tym artykule ?"></textarea>
                    </div>
                    <div class="col-xs-1" style="padding:14px 0 0 0">
                        <form class="frmAddComment  pull-right">
                            <input class="frmNewsID" type="hidden" name="NewsID" value=@Model.SingleNews.tbl_NewsID>
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="col-xs-12 removePadding">
                        <textarea id="frmCommentTextNoAuth" rows="10" cols="500" name="CommentText" class="form-control message" style="height: 34px; overflow: hidden;" placeholder="Zaloguj się aby dodać komentarz."></textarea>
                    </div>
                    <input class="frmNewsID" type="hidden" name="NewsID" value=@Model.SingleNews.tbl_NewsID>
                }
            </div>
        </div>
    </div>

    <div id="loadingImage" class="ui segment" style="width:100%; box-shadow:none">
        <div class="ui active inverted dimmer">
            <div class="ui medium text loader">Wczytywanie komentarzy.</div>
        </div>
        @*<p>

            </p>*@
    </div>

    <div style="margin-bottom:10px" class="errorMessageNewsDetail hidden">
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">

            </div>
            <p>

            </p>
        </div>
    </div>

    <div id="sortingTab" class="sorting col-lg-12 list-group-item hidden">
        <c class="text-muted">Sortuj wg: </c>
        <a href="#" id="commentSort0">daty dodania  | </a>
        <a href="#" id="commentSort1">reputacji autorów | </a>
        <a href="#" id="commentSort2">oceny </a>
    </div>

    <div id="noResultTab" class="sorting col-lg-12 list-group-item hidden" style="text-align:center">
        <c class="text-muted">Brak komentarzy dla tego artykułu. Bądź pierwszy i skomentuj. </c>
    </div>


    <div class="comments-container col-lg-12 removePadding">
        @*Comments container*@
        <ul id="commentsList" class="comments-list"></ul>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></button>
</div>
