@model notomyk.ViewModel.RightMenuModel
@using notomyk.Models;

<div class="hidden-xs">
    @Html.Partial("_RightMenuForum")
</div>


<div class="rightTable col-xs-12">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#1b" data-toggle="tab"><small><strong><i class="trophy outline orange icon"></i>Reputacja</strong></small></a>
        </li>
        <li>
            <a href="#2b" data-toggle="tab"><small><strong>Ilosc Komentarzy</strong></small></a>
        </li>
        <li>
            <a href="#3b" data-toggle="tab"><small><strong>Ilosc Newsow</strong></small></a>
        </li>
    </ul>
    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1b">

            @foreach (var user in Model.UsersRep)
            {
                var imgUrl = Url.Content(AppConfig.UserLogoLink(user.Id));

                <div class="singleUser item col-xs-12" style="padding: 3px 2px 3px 3px; margin-bottom:1px">
                    <div class="ui relaxed middle aligned  divided list">
                        <div class="item col-xs-10" style="padding:0 !important">
                            <i class="icon"><img src="@imgUrl" height="32" width="32" class="avatar img-circle" alt=""></i>
                            <div class="content">
                                <strong>@user.UserName&nbsp;&nbsp;</strong>
                                <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
                            </div>
                        </div>
                        <div class="pull-right meta col-xs-2" style="text-align:right; padding:4px 5px 4px 0">
                            <span class="ui orange basic label">22</span>
                        </div>
                    </div>
                </div>

            }
        </div>
        <div id="2b" class="tab-pane">
            brak wynikow 2
        </div>
        <div id="2b" class="tab-pane">
            brak wynikow 2
        </div>
    </div>
</div>



<div class="rightTable col-xs-12">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#1c" data-toggle="tab"><small><strong><i class="fire outline icon orange"></i>Fakt</strong></small></a>
        </li>
        <li>
            <a href="#2c" data-toggle="tab"><small><strong><i class="fire outline icon orange"></i>Fake</strong></small></a>
        </li>
        <li>
            <a href="#3c" data-toggle="tab"><small><strong>Komentarze</strong></small></a>
        </li>
        <li>
            <a href="#4c" data-toggle="tab"><small><strong>Wizyty</strong></small></a>
        </li>
    </ul>
    <div class="tab-content clearfix">
        <div id="1c" class="news ui middle aligned divided list tab-pane active">
            @foreach (var News in Model.FaktNews)
            {
                var TitleString = News.Title;
                var Rating = News.VoteLogs.Where(n => n.Vote == true).Count() - News.VoteLogs.Where(n => n.Vote == false).Count();

                if (News.Title.Length > 40)
                {
                    TitleString = string.Concat(News.Title.Substring(0, 40), "...");
                }

                <a class="item" href="@Url.Action("News", "Main", new {id = News.tbl_NewsID})" style="text-decoration:none;padding:5px 0 5px 5px">
                    <div class="right floated content">

                        <span class="ui green basic pull-right label" style="margin-right:5px">+ @Rating</span>
                        <div>
                            <i class="ui tag label" style="margin-top:3px; background-color:#c6c5c5">Nowy</i>
                        </div>

                    </div>

                    <i class="icon" style="width:35px; height:35px; padding:0">
                        <img class="ui avatar image" src="@Url.NewspaperIconPath_ICO(News.Newspaper.NewspaperIconLink)" style="width:35px;height:35px;">
                    </i>
                    <div class="content">

                        <div class="header" style="padding:0 0 3px 5px">@TitleString</div>
                        <div class="description" style="padding-left: 5px"><i class="calendar icon"></i>Dodano: @GetTimeAgo.CalculateDateDiff(News.DateAdd)</div>
                    </div>
                </a>
            }
        </div>
        <div id="2c" class="tab-pane">
            brak wynikow 2
        </div>

        <div id="3c" class="tab-pane">
            brak wynikow 3
        </div>

        <div id="4c" class="tab-pane">
            brak wynikow 4
        </div>
    </div>
</div>

