@model notomyk.ViewModel.RightMenuForum
@using notomyk.Models

<div class="rightTable rightTopForum col-xs-12">
    <ul class=" nav nav-pills">
        @*<li class="active">
                <a href="#1a" data-toggle="tab"><small><stron>Informacje</stron></small></a>
            </li>
            <li>
                <a href="#2a" data-toggle="tab"><small><strong>Popularne</strong></small></a>
            </li>
            <li>
                <a href="#3a" data-toggle="tab"><small><strong>Uwagi</strong></small></a>
            </li>*@
    </ul>
    <div class="rightButtons visible-xs">
        <div class="sharethis-inline-share-buttons"></div>
    </div>
    <div class="sharethis-inline-follow-buttons col-xs-12"></div>
    <div class="rightButtons hidden-xs">
        <div class="fb-like col-xs-4 removePadding"
             style="vertical-align:top;zoom:1;display:inline-block;"
             data-href="https://www.facebook.com/faktorfejk/"
             data-layout="button"
             data-action="like"
             data-size="small"
             data-show-faces="true"></div>

        <div class="fb-share-button col-xs-4 removePadding"
             data-href="https://www.faktorfake.pl/"
             data-layout="button"
             data-size="small"
             data-mobile-iframe="true">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.faktorfake.pl%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a>
        </div>
        <div class=" col-xs-4 removePadding">
            <a class="twitter-share-button"
               href="http://twitter.com/share?url=https://faktofrake.pl&hashtags=fakenews,faktorfake"
               data-size="small"
               data-text="Fakt or Fake | Strona poświęcona weryfikowaniu wiadomości pod kątem ich wiarygodności bądź tendencyjności."
               data-url=""
               data-hashtags=""
               data-via=""
               data-related="">
            </a>
        </div>

    </div>

    @*<a target="_blank"
           data-mobile-iframe="true"
           data-layout="button_count"
           class="fb-xfbml-parse-ignore"
           href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.faktorfake.pl%2F&amp;src=sdkpreparse">
            <div class="btn btn-sm btn-block btn-social btn-facebook RightRadius col-xs-4 fb-share-button">
                <span class="fa fa-facebook"></span> Udostępnij
            </div>
        </a>*@
    @*<div class="btn-group col-xs-6 fbLikeIt">
            <button type="submit" class="btn btn-block btn-social btn-sm  btn-facebook">
                <span class="fa fa-facebook"></span> Polub Nas
            </button>
        </div>
        <div class="btn-group col-xs-6 fbShare">
            <button type="submit" class="btn btn-block btn-social btn-sm  btn-facebook">
                <span class="fa fa-facebook"></span> Udostępnij
            </button>
        </div>*@


    <div class="ui horizontal divider hidden-xs hidden-sm">
        forum
    </div>
    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
            <div class="rightList forumList">

                @foreach (var topic in Model.Topics)
                {
                    //var imgUrl = Url.Content(AppConfig.UserLogoLink(topic.ApplicationUser.Id));

                    var activePaneClass = "";

                    if (topic.ID == ViewBag.TopicID)
                    {
                        activePaneClass = "activePane";
                    }

                    <div class="post @activePaneClass hidden-xs hidden-sm">
                        <a class="rTopic" href="@Url.Action("Topic", "Forum", new {ID = @topic.ID})">
                            <div class="post-heading">
                                <div class="pull-left">
                                    <img src="@Url.FOFiconJustF()" height="32" width="32" class="avatar img-circle" alt="">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <div style="height:17px">
                                            <small class="rightMenuPostTitle"><strong>@topic.Subject</strong></small>
                                        </div>
                                        <div class="description" style="height:17px;">
                                            <small><i class="calendar icon"></i>Dodano: @GetTimeAgo.CalculateDateDiff(topic.DateAdd)</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right meta">
                                    <div>
                                        <i class="@topic.ForumCategory.IconClass icon black"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="post visible-xs visible-sm" style="background-color:#f8f8f8">
                        <a class="rTopic" href="@Url.Action("Topic", "Forum", new {ID = @topic.ID})">
                            <div class="post-heading">
                                <div class="pull-left">
                                    <img src="@Url.FOFiconJustF()" height="32" width="32" class="avatar img-circle" alt="">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <div style="height:17px">
                                            <small class="rightMenuPostTitle"><strong>@topic.Subject</strong></small>
                                        </div>
                                        <div class="description" style="height:17px;">
                                            <small><i class="calendar icon"></i>Dodano: @GetTimeAgo.CalculateDateDiff(topic.DateAdd)</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right meta">
                                    <div>
                                        <i class="@topic.ForumCategory.IconClass icon black"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    @*<div class="ui divider bottomD hidden-xs hidden-sm"></div>*@
</div>
