@model notomyk.ViewModel.RightMenuForum
@using notomyk.Models

<div class="rightTable rightTopForum col-xs-12">
    <ul class=" nav nav-pills">
        @*<li class="active">
                <a href="#1a" data-toggle="tab"><small><stron>Informacje</stron></small></a>
            </li>
            <li>
                <a href="#2a" data-toggle="tab"><small><strong>Popularne</strong></small></a>
            </li>
            <li>
                <a href="#3a" data-toggle="tab"><small><strong>Uwagi</strong></small></a>
            </li>*@
    </ul>
    <div class="rightButtons visible-xs">
        <div class="sharethis-inline-share-buttons"></div>
    </div>


    <div class="rightButtons hidden-xs">
        <div class="fb-like col-xs-4 removePadding"
             style="vertical-align:top;zoom:1;display:inline-block;"
             data-href="https://www.facebook.com/faktorfejk/"
             data-layout="button"
             data-action="like"
             data-size="large"
             data-show-faces="true"></div>
        <div class="col-xs-8 removePadding" style="text-align:right;">
            <button class="ui facebook button"
                    @*onclick="location.href='https://www.facebook.com/faktorfejk/'"*@
                    onclick="window.open('https://www.facebook.com/faktorfejk/','_blank')"
                    value="FB | Fakt or Fake">
                Odwiedź nas na Facebooku
            </button>
        </div>


    </div>

    <div class="ui horizontal divider hidden-xs hidden-sm col-xs-12 removePadding">
        forum
    </div>
    <div class="tab-content clearfix col-xs-12 removePadding">
        <div class="tab-pane active" id="1a">
            <div class="rightList forumList">

                @foreach (var topic in Model.Topics)
                {
                    //var imgUrl = Url.Content(AppConfig.UserLogoLink(topic.ApplicationUser.Id));

                    var activePaneClass = "";

                    if (topic.ID == ViewBag.TopicID)
                    {
                        activePaneClass = "activePane";
                    }

                    <div class="post @activePaneClass hidden-xs hidden-sm">
                        <a class="rTopic" href="@Url.Action("Topic", "Forum", new {ID = @topic.ID})">
                            <div class="post-heading">
                                <div class="pull-left">
                                    <img src="@Url.FOFiconJustF()" height="32" width="32" class="avatar img-circle" alt="">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <div style="height:17px">
                                            <small class="rightMenuPostTitle"><strong>@topic.Subject</strong></small>
                                        </div>
                                        <div class="description" style="height:17px;">
                                            <small><i class="calendar icon"></i>Dodano: @GetTimeAgo.CalculateDateDiff(topic.DateAdd)</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right meta">
                                    <div>
                                        <i class="@topic.ForumCategory.IconClass icon black"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="post visible-xs visible-sm" style="background-color:#f8f8f8">
                        <a class="rTopic" href="@Url.Action("Topic", "Forum", new {ID = @topic.ID})">
                            <div class="post-heading">
                                <div class="pull-left">
                                    <img src="@Url.FOFiconJustF()" height="32" width="32" class="avatar img-circle" alt="">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <div style="height:17px">
                                            <small class="rightMenuPostTitle"><strong>@topic.Subject</strong></small>
                                        </div>
                                        <div class="description" style="height:17px;">
                                            <small><i class="calendar icon"></i>Dodano: @GetTimeAgo.CalculateDateDiff(topic.DateAdd)</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right meta">
                                    <div>
                                        <i class="@topic.ForumCategory.IconClass icon black"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    @*<div class="ui divider bottomD hidden-xs hidden-sm"></div>*@
</div>
