<div class="ui middle aligned divided list">

    <div class="item @ViewBag.AdminForumCategoryClass" >
        <div class="right floated content">
            <a href="@Url.Action("Index","AdminForumCategory")" >
                <div class="ui button">
                    GO
                </div>
            </a>
        </div>
        <i class="settings icon black"></i>
        <div class="content settingsDescription">
            Forum : Kategorie
        </div>
    </div>

    <div class="item @ViewBag.AdminForumTopicClass"> 
        <div class="right floated content">
            <a href="@Url.Action("Index","AdminForumTopic")" >
                <div class="ui button">
                    GO
                </div>
            </a>
        </div>
        <i class="settings icon black"></i>
        <div class="content settingsDescription">
            Forum : Tematy
        </div>
    </div>

    <div class="item @ViewBag.AdminForumPostClass" >
        <div class="right floated content">
            <a href="@Url.Action("Index","AdminForumPost")">
                <div class="ui button">
                    GO
                </div>
            </a>
        </div>
        <i class="settings icon black"></i>
        <div class="content settingsDescription">
            Forum : Posty
        </div>
    </div>

</div>