<div class="ui middle aligned divided list">

    <div class="item @ViewBag.AdminBlackListClass" >
        <div class="right floated content">
            <a href="@Url.Action("Index","AdminBlackList")" >
                <div class="ui button">
                    GO
                </div>
            </a>
        </div>
        <i class="settings icon black"></i>
        <div class="content settingsDescription">
            Black list - dla stron
        </div>
    </div>

    <div class="item @ViewBag.AdminTagClass">
        <div class="right floated content">
            <a href="@Url.Action("Index","AdminTag")" >
                <div class="ui button">
                    GO
                </div>
            </a>
        </div>
        <i class="settings icon black"></i>
        <div class="content settingsDescription">
            Tagi
        </div>
    </div>

    <div class="item @ViewBag.AdminVotingNewsClass">
        <div class="right floated content">
            <a href="@Url.Action("Index","AdminVotingNews")" >
                <div class="ui button">
                    GO
                </div>
            </a>
        </div>
        <i class="settings icon black"></i>
        <div class="content settingsDescription">
            Voting dla newsow
        </div>
    </div>

    <div class="item @ViewBag.AdminVotingCommentClass" >
        <div class="right floated content">
            <a href="@Url.Action("Index","AdminVotingComment")" >
                <div class="ui button">
                    GO
                </div>
            </a>
        </div>
        <i class="settings icon black"></i>
        <div class="content settingsDescription">
            Voting dla komentarzy
        </div>
    </div>

</div>