<div class="ui middle aligned divided list">

    <div class="item">
        <div class="right floated content">
            <a href="@Url.Action("Index","AdminComments")">
                <div class="ui button">
                    GO
                </div>
            </a>
        </div>
        <i class="settings icon black"></i>
        <div class="content">
            Komentarze - Reported
        </div>
    </div>


    <div class="item">
        <div class="right floated content">
            <a href="@Url.Action("Index","AdminComments")">
                <div class="ui button">
                    GO
                </div>
            </a>
        </div>
        <i class="settings icon black"></i>
        <div class="content">
            Komentarze
        </div>
    </div>

    <div class="item">
        <div class="right floated content">
            <a href="@Url.Action("Index","AdminNews")">
                <div class="ui button">
                    GO
                </div>
            </a>
        </div>
        <i class="settings icon black"></i>
        <div class="content">
            Newsy - reported
        </div>
    </div>


    <div class="item">
        <div class="right floated content">
            <a href="@Url.Action("Index","AdminNews")">
                <div class="ui button">
                    GO
                </div>
            </a>
        </div>
        <i class="settings icon black"></i>
        <div class="content">
            Newsy
        </div>
    </div>

    <div class="item">
        <div class="right floated content">
            <a href="@Url.Action("Index","AdminNewspapers")">
                <div class="ui button">
                    GO
                </div>
            </a>
        </div>
        <i class="settings icon black"></i>
        <div class="content">
            Newspapers
        </div>
    </div>




</div>